<div class="container">
    <h1 class="heading mt-5"><u><a href="/">Search Repositories</a></h1></u></br>
    <div class="inline"><h1 class="heading mt-5 current" style="padding-left: 50px;"><a style="color:#4CAF50" href="#/packages">Top Packages</a></h1>
    <h1 class="heading mt-5 inline" style="padding-left: 50px;"><a style="color:#4CAF90" href="#/all_packages">All Packages</a></h1></div>
    <div class="container mt-5">
      <div class="row">
      <ol>
        <div class="col-md-12" ng-repeat="(name, each) in results">
            <li class="result-name" style="width:100%">{{name}}</li>
        </div>
      </ol>
      </div>
  </div>
</div>
